<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A Barbearia RD oferece cortes de cabelo, design de barba, descoloração e mais. Agende já seu horário conosco!">
  <meta name="author" content="Barbearia RD">
  <link rel="icon" type="image/x-icon" href="{% static 'imagens/favicon.ico' %}">
    
  <title>Barbearia RD</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <header class="header">
    <div class="container header-content">
      <img src="{% static 'imagens/logo.png' %}" alt="Logo da Barbearia" class="logo">
      
      <div class="header-buttons">
        <a href="https://maps.app.goo.gl/VoDQMjCG7vgZorPX7" target="_blank" class="btn-header">
          📍 Nos encontramos aqui
        </a>
        <a href="{% url 'calendario' %}" class="btn-header">
          ✂️ Agende seu horário
        </a>
        <a href="https://wa.me/5548998082832" class="btn-header">
          💬 Fale conosco no WhatsApp
        </a>
      </div>
    
    </div>
  </header>

  <section class="services">
    <div class="container">
      <h2>Nossos Serviços</h2>
      <div class="service-items">
        <div class="service-item">
          <img src="{% static 'imagens/cortes.jpg' %}" alt="Cortes">
          <h3>Cortes</h3>
          <p>Social, Degradê, Navalhado.</p>
        </div>

        <div class="service-item">
          <img src="{% static 'imagens/sobrancelha.jpeg' %}" alt="Sobrancelha">
          <h3>Sobrancelha</h3>
          <p>Design e modelagem profissional.</p>
        </div>

        <div class="service-item">
          <img src="{% static 'imagens/pigmentação.jpeg' %}" alt="Pigmentação">
          <h3>Pigmentação</h3>
          <p>Cobertura de cabelos brancos ou mudança de cor.</p>
        </div>

        <div class="service-item">
          <img src="{% static 'imagens/barba.jpeg' %}" alt="Barba">
          <h3>Barba</h3>
          <p>Tratamento e design exclusivo para sua barba.</p>
        </div>

        <div class="service-item">
          <img src="{% static 'imagens/nevou.jpg' %}" alt="Descoloração">
          <h3>Descoloração</h3>
          <p>Transformação completa para um visual único.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="container">
      <h2>Sobre Nós</h2>
      <p>Na Barbearia RD, oferecemos um ambiente acolhedor, profissionais experientes e serviços personalizados para valorizar seu estilo. Nosso objetivo é garantir a satisfação e o bem-estar de cada cliente.</p>
    </div>
  </section>

  <section class="pricing">
    <div class="container">
      <h2>Preços de Alguns de Nossos Serviços</h2>
      <ul class="price-list">
        <li><span class="service-name">Cortes</span> <span class="price">R$ 35</span></li>
        <li><span class="service-name">Barba</span> <span class="price">R$ 30</span></li>
        <li><span class="service-name">Descoloração</span> <span class="price">R$ 150</span></li>
        <li><span class="service-name">Luzes</span> <span class="price">R$ 130</span></li>
        <li><span class="service-name">Sobrancelha</span> <span class="price">R$ 10</span></li>
        <li><span class="service-name">Pigmentação</span> <span class="price">R$ 60</span></li>
        <li><span class="service-name">Plano Mensal (4 Cortes)</span> <span class="price">R$ 100</span></li>
        <li><span class="service-name">Plano Mensal (4 Cortes e Barba)</span> <span class="price">R$ 180</span></li>
      </ul>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <p>📍 Rua João Francisco Barcelos Júnior, 214 (Dentro do CTG)</p>
      <p>⏰ Seg-Sáb: 9h - 20h</p>
      <div class="social-links">
        <a href="https://www.instagram.com/barbearia.rd7?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
          <i class="fab fa-instagram"></i> Instagram
        </a>
      </div>      
    </div>
  </footer>
</body>
</html>
